# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Uczelnia\MoodApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
